.carousel-item >img{
    height: 830px;
}

span > a > img {
    margin-right: 10px;
    color: white;
}

.plusMinusDiv{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.plusMinusDiv:hover{
    background-color: #ccc;
}
.menu_navebar_logo{
    margin-left: 10px;
    margin-top: 5px;
}
.contact_us_logo{
    margin-left: 10px;
    margin-top: 5px;
}
.about_us{
    margin-left: 10px;
    margin-top: 5px;
}
.logo_image{
    justify-content: left;
}
